@import "bootstrap.css" all;

body {
background: #eeeeee;
margin:0;
}

h1{
font-size: 50px;
}

.lnk:hover{
color: #FFFFFF;
text-decoration: none;
cursor: pointer;
}

.autorization{
text-align: center;
color:#b3b1b1;
font-size: 14px;
}

.registration h2{
text-align: center;
}

.registration {
width: 80%;
margin-left: auto;
margin-right: auto;
}

.reglink {
width: 25px;
}

.autorization .submit input{
margin-left: 13px;
width:70px;
background-color: #a6a7a8;
color: #1A1E22;
border-color: #2f6fa8;
border:1px;
}

.loginuser {
text-align: justify;
font-size: 22px;
color:#5d5d5e;
width:80%;
margin:0 auto;
}

.loginuser p a{
text-decoration: none;
margin:0 auto;
display: block;
}







